# System files
.DS_Store

# Environment files
.env
.env.backup
.env.production

# Log files
npm-debug.log
yarn-error.log

# PHPUnit files
/.phpunit.cache
.phpunit.result.cache

# PHP related files
.phpactor.json
Homestead.json
Homestead.yaml

# Node.js related files
/node_modules

# Public directories
/public/build
/public/hot
/public/storage

# Storage files
/storage/*.key
/storage/pail

# Vendor directory
/vendor

# IDE and editor files
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Authentication files
/auth.json
