/app
/bootstrap
/config
/database
/node_modules
/public/build
/public/storage
/resources/fonts
/resources/views
/routes
/storage
/tests
/vendor
.env
.env.example
artisan
composer.json
composer.lock
phpunit.xml
rector.php
