@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-instrument-sans);
  --font-sans--font-feature-settings: "ss02" 1, "ss05" 1, "ss09" 1;
  --font-mono: var(--font-jetbrains-mono);
  --font-mono--font-feature-settings: "ss01" 1, "cv03" 1, "zero" 1;
}
